doctrine:
    dbal:
#        url: '%env(resolve:DATABASE_URL)%'
        host: '%env(string:default:placeholder:DATABASE_HOST)%'
        dbname: '%env(string:default:placeholder:DATABASE_NAME)%'
        user: '%env(string:default:placeholder:DATABASE_USER)%'
        password: '%env(string:default:placeholder:DATABASE_PASSWORD)%'
        port: '%env(string:DATABASE_PORT)%'
        server_version: '%env(string:DATABASE_SERVER_VERSION)%'
        driver: '%env(string:DATABASE_DRIVER)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/App/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
