includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests

    inferPrivatePropertyTypeFromConstructor: true
    doctrine:
        allCollectionsSelectable: false
        objectManagerLoader: tests/object-manager.php

    tmpDir: var/cache/phpstan
    ignoreErrors:
        - message: '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
